.header__logo {
    margin: 0;
    padding: 0;
    max-width: 176px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 321px) {

    .header__logo {
        max-width: 142px;
    }
}