.place__paragraph {
    margin: 0;
    padding: 0;
    align-self: start;
}

@media (min-width: 320px) and (max-width: 767px) {

    .place__paragraph {
        max-width: 100%;
        margin-top: 32px;
        align-self: center;
    }

}