.lead__text {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 56px;
    margin-left: 148px;
    margin-right: 148px;
    padding: 0;
}

@media (max-width: 1024px) {
    
    .lead__text {
        margin-top: 48px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .lead__text {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .lead__text {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
}