.header__svg {
        margin: 0;
        padding: 0;
        max-width: 176px;
        object-fit: cover;
        object-position: center;
        overflow: visible;
} 
     
    @media (max-width: 768px) and (min-width: 320px) { 
     
        .header__svg { 
            max-width: 142px;
        }
}