.header__svg {
        max-width: 176px;
        margin: 0;
        padding: 0;
        
        object-fit: cover;
        object-position: center;
        
        overflow: visible;
} 
     
    @media (max-width: 321px){ 
     
        .header__svg { 
            max-width: 142px;
        }
}
